# ignore dataset files, images and annotations: too big!
supervisely_dataset/*
!supervisely_dataset/README.md

# ignore text editor settings
.vscode

# ignore compiled and cache files
__pycache__/
*.py[cod]

# sensitive files with api keys
notifications/*.json

# runs: tensorboard logs and model checkpoints
runs/
